.container-cu{

max-width: 1700px;
margin: 0 auto;
background-color: #E8F3FF;

}

.container-cut{

  max-width: 1700px;
  margin: 0 auto;
  
  }

.btn:hover {
    background-color: #70f1d8; /* Color azul de Bootstrap */
    color: black;
  }

.btn{

  background-color: #1ccca9;
  color: white;

}

.detalle-plan {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.detalle-plan h1 {
  color: #343a40;
  margin-bottom: 20px;
}

.detalle-plan p {
  font-size: 16px;
  margin: 10px 0;
}
